<div>
<mat-toolbar color="primary">

  
 
 
  

<mat-form-field >
  <mat-label >Search</mat-label>
  <mat-select>
    
    <mat-option routerLink="/chains">Chains</mat-option>
    <mat-option routerLink="/earrings">Ear rings</mat-option>
    <mat-option routerLink="/necklace">Necklace</mat-option>
    <mat-option routerLink="/longchain">Long chain</mat-option>
     <mat-option routerLink="/bracelet">Bracelets</mat-option>
     <mat-option routerLink="/bangles">Bangles</mat-option>
  </mat-select>
</mat-form-field>
</mat-toolbar>
</div>
  